body{
   background-color: rgba(202, 168, 235, 0.537);
}

.container{
    background-color: rgb(92, 181, 219);
    width: 50vw;
    height: 300px;
    text-align: center;
    padding-top: 10px;
    margin: auto;
    margin-top: 20vh;
}

.name,.password{
    display: inline-block;
    width: 20vw;
    height: 30px;
    margin-bottom: 20px;
}

.submit{
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
    font-size: medium;
    cursor: pointer;
}

input::placeholder{
    color: rgb(0, 0, 0);
    font-size: medium;
}

@media screen and (min-width:992px) {
    .container{
        width: 30vw;
    }
}